.hidden {
    display: none;
}
button {
    position: absolute;
    top: 10px; /* Ajustez la valeur en fonction de la marge souhaitée depuis le haut */
    right: 10px; /* Ajustez la valeur en fonction de la marge souhaitée depuis la droite */
}
